#card-container {
  width: 20%;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: #2e2e2e;
  margin: 0px 5% 7% 0px;
  min-height: 330px;
  position: relative;
}

#card-header {
  padding: 20px 10px;
  border-bottom: 10px solid #e6e6e6;
}

#card-header p {
  font-weight: bold;
  font-size: 1.5rem;
}

#card-header img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
}

#card-content {
  padding: 20px 10px;
}

#card-content p#header {
  font-size: 0.8rem;
  font-weight: bold;
}

#chip-group {
  margin: 15px 0px;
}

#chip-group #chip {
  margin: 0px 5px 10px 0px;
}

#chip-group span#footer {
  text-decoration: underline;
  color: #b5b5b5;
  font-size: 1.1rem;
  margin-left: 10px;
  cursor: pointer;
}

#card-footer {
  background: #e6e6e6;
  padding: 20px 10px;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  margin-bottom: -70px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#card-footer p {
  margin-top: 5px;
}
