#search-bar {
  min-width: 600px;
  height: 70px;
  background: #fff;
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  margin-bottom: -35px;
}

#search-bar input {
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bold;
  height: 30px;
}

#chip-terms #chip {
  margin-right: 5px;
}

#chip-terms {
  justify-content: flex-start;
}

#search-bar button {
  background: #2e2e2e;
  color: #e6e6e6;
  padding: 15px;
  border-radius: 30px;
  font-weight: bold;
}

#terms-warning {
  color: #2e2e2e;
  position: absolute;
  bottom: 0;
  right: 30px;
  margin-bottom: -20px;
}
