#search-bar {
  min-width: 600px;
  height: 70px;
  background: #fff;
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
}

#chip-terms #chip {
  margin-right: 5px;
}

#chip-terms {
  justify-content: flex-start;
}

#search-bar button {
  background: #2e2e2e;
  color: #e6e6e6;
  padding: 15px;
  border-radius: 30px;
  font-weight: bold;
}

#terms-warning {
  color: #2e2e2e;
  position: absolute;
  bottom: 0;
  right: 30px;
  margin-bottom: -20px;
}

.landing-position {
  bottom: -20vh;
  left: 50%;
  margin-left: -300px;
  margin-bottom: 0;
}

.slide-exit-active,
.slide-exit-done {
  bottom: 0;
  left: 10%;
  margin-left: 0;
  margin-bottom: -35px;
  transition: bottom 0.5s ease-in-out, left 0.5s ease-in-out,
    margin 0.5s ease-in-out;
}
